body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;

    
}
.half-width img{
    width: 65%;
}
.set-middle{
    padding-top: 50px;
    padding-bottom: 50px;
}
.flexible-container{
    display: flex;
    margin-top: 5%;

}
.display{
    display: flex;
    justify-content: center;
}

.link-button{
    padding: 5px 10px;
    text-decoration: none;
    background-image: linear-gradient(45deg,orange,tomato);
    border-radius: 20px;
    font-weight: 400;
    color: white;
    line-height: 50px;
}
.about-me-banner{
    background-image: url(imag/7.png);
    background-repeat: no-repeat;
}
.my-recipies{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    
}
.recipe-item{
    width: 30%;
    border-radius: 10px;
    box-shadow: 10px 10px 50px black;
    margin: 50px;

}
.image-style{
    width: 100%;
    border-radius: 10px;
    
}
.image{
    
    padding: 20px;
}
.description{
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
.grayer{
    color: gray;
}
.foother-end{
    color: white;
}
